$blue_01:#1F3F68;
$blue_02:#316099;
$blue_03:#356EAD;
$blue_04:#5A98D0;
$blue_05:#98C3E8;
$www: linear-gradient(238.37deg, #FFF8E1 0.54%, #FFCC80 88.49%);
$gradient-cyan: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);
$gradient-in-smart : linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
$gradient-spark-car : linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
;